#video {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

  
@media only screen and (min-width: 0){
    #video {
    width: 100%;
}

    @media only screen and (min-width: 768px){
    #video {
    width: 80%;
}
        
@media only screen and (min-width: 992px){
    #video {
    width: 60%;
}
    
@media only screen and (min-width: 1200px){
    #video {
    width: 40%;
}